![banner](https://bccfilkom.net/static/assets/images/BCC-Logo.svg)

# Prerequisite Mini Bootcamp Data Science
### BCC 2023

# **Python** Dasar ðŸ
![](https://upload.wikimedia.org/wikipedia/commons/thumb/c/c3/Python-logo-notext.svg/1200px-Python-logo-notext.svg.png)

## Apa itu Bahasa Python?
Python merupakan bahasa pemrograman yang sering dipakai untuk beragam tujuan, seperti pengembangan web, analisis data, dan scripting. Python memiliki berbagai library yang mendukung kebutuhan pengembang dalam berbagai proyek, terutama dibidang data science.

## Variabel

-> Tempat untuk menyimpan suatu nilai.

In [1]:
var_integer = 12
var_float = 12.2
var_boolean = True
var_string = "Hello World"

print(var_integer, " -> tipe data: ", type(var_integer))
print(var_float, " -> tipe data: ", type(var_float))
print(var_boolean, " -> tipe data: ", type(var_boolean))
print(var_string, " -> tipe data: ", type(var_string))

12  -> tipe data:  <class 'int'>
12.2  -> tipe data:  <class 'float'>
True  -> tipe data:  <class 'bool'>
Hello World  -> tipe data:  <class 'str'>

## F String

In [2]:
print(f"Umur saya {var_integer}")

Umur saya 12

## Operator Aritmatika

-> Operasi matematika.

In [3]:
bilangan_1 = 21
bilangan_2 = 5
print(f"Tambah : {bilangan_1 + bilangan_2}")
print(f"Kurang : {bilangan_1 - bilangan_2}")
print(f"Kali : {bilangan_1 * bilangan_2}")
print(f"Bagi : {bilangan_1 / bilangan_2}")
print(f"Pangkat : {bilangan_1 ** bilangan_2}")
print(f"Mod : {bilangan_1 % bilangan_2}")
print(f"Div : {bilangan_1 // bilangan_2}")

Tambah : 26
Kurang : 16
Kali : 105
Bagi : 4.2
Pangkat : 4084101
Mod : 1
Div : 4

## Operator Boolean

-> Operasi logika boolean.

![](https://file.notion.so/f/s/c53a1e90-41b3-4e43-bd00-c8c40175705d/Untitled.png?id=a57d68e9-e6fe-4ae9-ab32-afff3a6e0dcd&table=block&spaceId=eb128b48-3bd2-4d05-8fd9-4f6856ab2097&expirationTimestamp=1696032000000&signature=8cBBOwZvYtu2y_FdL-7jotgcZfxOC3shGZxUnjYDtiU&downloadName=Untitled.png)

In [4]:
print(True and True)
print(True and False)
print(True or False)
print(False or False)
print(not True)
print(1 == 1)
print(1 != 2)
print(bool(1))
print(bool(0))

True
False
True
False
False
True
True
True
False

## Control Flow

-> Jika begini, maka begitu.

In [5]:
pengurangan = 10 - 5

if pengurangan == 5:
    print("woke")
elif pengurangan < 5:
    print("waduh")
else:
    print("hadeh")

woke

## Data Structure
-> menyimpan nilai lebih banyak dan kompleks

1. List: menyimpan banyak nilai, tipe data yang berbeda-beda, mutable
2. Tuple: sama kayak list tapi immutable
3. Set: sama kayak list, tapi gaada duplicate
4. Dictionary: pasangan key-value

In [6]:
list_elemen = [1, 1, 2.0, 3, "Hello", True]
print(f"All list : {list_elemen}")
list_elemen[2] = "diganti"
print(f"All list : {list_elemen}")
print(f"Ambil elemen pertama list : {list_elemen[0]}")

All list : [1, 1, 2.0, 3, 'Hello', True]
All list : [1, 1, 'diganti', 3, 'Hello', True]
Ambil elemen pertama list : 1

In [7]:
tuple_elemen = (1, 1, 2.0, 3, "Hello", True)
print(f"All tuple : {tuple_elemen}")
print(f"Ambil elemen ke 5 tuple : {tuple_elemen[4]}")

# tuple_elemen[2] = "diganti" # error

All tuple : (1, 1, 2.0, 3, 'Hello', True)
Ambil elemen ke 5 tuple : Hello

In [8]:
set_elemen = {1, 2.0, 3, "Hello", 1, 1, 2}
print(set_elemen)

{1, 2.0, 3, 'Hello'}

In [9]:
dictionary_elemen = {"satu": 1, "dua": 2, "tiga": 3}
print(f"All dictionary : {dictionary_elemen}")
print(f"Ambil elemen dengan key 'dua' : {dictionary_elemen['dua']}")

dictionary_elemen["empat"] = 4
print(f"All dictionary : {dictionary_elemen}")

All dictionary : {'satu': 1, 'dua': 2, 'tiga': 3}
Ambil elemen dengan key 'dua' : 2
All dictionary : {'satu': 1, 'dua': 2, 'tiga': 3, 'empat': 4}

## Iteration
-> perulangan, looping

In [10]:
print("For loop menggunakan range: ")
for i in range(0, 5, 1):
    print(i)

For loop menggunakan range:
0
1
2
3
4

In [11]:
print("\nFor Each: ")
loop_element = ["elemen_1", "elemen_2", "elemen_3", "elemen_4"]
for val in loop_element:
    print(val)

For Each:
elemen_1
elemen_2
elemen_3
elemen_4

In [12]:
print("\nWhile Loop")
status = True
random_var = 5

while status:
    if random_var == 0:
        status = False
    
    print(random_var)
    random_var -= 1

While Loop
5
4
3
2
1
0

## Function

1. prosedur -> kumpulan perintah, gaada return
2. fungsi -> mengolah input, ada return

In [13]:
def prosedur(nama, umur):
    print(f"Selamat datang {nama}!")

    if umur >= 17:
        print("Silahkan masuk")
    else:
        print("Anda harus setidaknya berumur 17 untuk masuk!")


prosedur("biyu", 20)

Selamat datang biyu!
Silahkan masuk

In [14]:
def fungsi(x, arg_opsional=1):
    return x**2 + arg_opsional


fungsi(100), fungsi(100, 10)

(10001, 10010)

## Comprehension
menyingkat proses looping dan append

In [15]:
mata_kuliah = ["kalkulus", "aljabar linear", "pemrograman dasar", "statistika"]
mata_kuliah_with_k = []

for matkul in mata_kuliah:
    if "k" in matkul:
        mata_kuliah_with_k.append(matkul)

print(mata_kuliah_with_k)

['kalkulus', 'statistika']

In [16]:
mata_kuliah_with_k_comprehension = [
    matkul for matkul in mata_kuliah if "k" in matkul]

print(mata_kuliah_with_k_comprehension)

['kalkulus', 'statistika']

## Lambda Function
sama seperti function tapi satu baris aja

In [17]:
def f(x):
    return x ** 3 + 6 * x ** 2 - 10 * x + 31

f(10)

1531

In [18]:
g = lambda x: x ** 3 + 6 * x ** 2 - 10 * x + 31

g(10)

1531

# Pandas
![](https://upload.wikimedia.org/wikipedia/commons/thumb/e/ed/Pandas_logo.svg/1280px-Pandas_logo.svg.png)

## Pengenalan Pandas

Pandas adalah sebuah library Python yang digunakan untuk manipulasi dan analisis data. Pandas menyediakan struktur data yang fleksibel dan kaya akan fitur untuk mengolah data tabular, seperti data yang ada pada file CSV atau spreadsheet. Library ini sangat berguna untuk mempersiapkan data untuk analisis dan pemodelan statistik. Pandas juga memiliki banyak fungsi untuk melakukan operasi matematika dan statistik.

## Pandas

### Instalasi Pandas

In [ ]:
!pip install pandas

### Import Pandas

In [19]:
import pandas as pd

## Dataframe
-> Struktur data yang berbentuk seperti tabel

In [21]:
data = pd.read_csv("https://raw.githubusercontent.com/SulthanAbiyyu/mini-bootcamp-bcc-2023/master/Supermarket_Sales.csv")
data.head()

,Invoice ID,Branch,City,Customer type,Gender,Product line,Unit price,Quantity,Tax 5%,Total,Date,Time,Payment,cogs,gross margin percentage,gross income,Rating
0,750-67-8428,A,Yangon,Member,Female,Health and beauty,74.69,7.0,26.1415,548.9715,1/5/2019,13:08,Ewallet,522.83,4.761905,26.1415,9.1
1,226-31-3081,C,Naypyitaw,Normal,Female,Electronic accessories,15.28,5.0,3.8200,80.2200,3/8/2019,10:29,Cash,76.40,4.761905,3.8200,9.6
2,631-41-3108,A,Yangon,Normal,Male,Home and lifestyle,46.33,7.0,16.2155,340.5255,3/3/2019,13:23,Credit card,324.31,4.761905,16.2155,7.4
3,123-19-1176,A,Yangon,Member,Male,Health and beauty,58.22,8.0,23.2880,489.0480,1/27/2019,20:33,Ewallet,465.76,4.761905,23.2880,8.4
4,373-73-7910,A,Yangon,Normal,Male,Sports and travel,86.31,7.0,30.2085,634.3785,2/8/2019,10:37,Ewallet,604.17,4.761905,30.2085,5.3

In [22]:
data.tail()

,Invoice ID,Branch,City,Customer type,Gender,Product line,Unit price,Quantity,Tax 5%,Total,Date,Time,Payment,cogs,gross margin percentage,gross income,Rating
1095,831-64-0259,B,Mandalay,Normal,Female,Fashion accessories,500.0,5.0,9.9375,208.6875,2/22/2019,10:43,Ewallet,198.75,4.761905,9.9375,9.6
1096,645-44-1170,A,Yangon,Member,Male,Home and lifestyle,300.0,9.0,26.1315,548.7615,1/19/2019,20:07,Ewallet,522.63,4.761905,26.1315,4.3
1097,123-19-1176,A,Yangon,Member,Male,Health and beauty,2.0,8.0,23.2880,489.0480,1/27/2019,20:33,Ewallet,465.76,4.761905,23.2880,8.4
1098,283-26-5248,C,Naypyitaw,Member,Female,Food and beverages,300.0,10.0,49.2600,1034.4600,1/30/2019,20:23,Ewallet,985.20,4.761905,49.2600,4.5
1099,372-62-5264,C,Naypyitaw,Normal,Female,Food and beverages,2.0,9.0,23.6700,497.0700,1/16/2019,14:42,Cash,473.40,4.761905,23.6700,7.6

In [23]:
data.shape

(1100, 17)

## Info

-> Untuk melihat informasi pada setiap kolom

In [24]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1100 entries, 0 to 1099
Data columns (total 17 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Invoice ID               1100 non-null   object
 1   Branch                   1099 non-null   object
 2   City                     1099 non-null   object
 3   Customer type            1099 non-null   object
 4   Gender                   1099 non-null   object
 5   Product line             1099 non-null   object
 6   Unit price               1099 non-null   float64
 7   Quantity                 1099 non-null   float64
 8   Tax 5%                   1099 non-null   float64
 9   Total                    1099 non-null   float64
 10  Date                     1099 non-null   object
 11  Time                     1099 non-null   object
 12  Payment                  1099 non-null   object
 13  cogs                     1099 non-null   float64
 14  gross margin percentage  1099 non-null   float64
 15  gross income             1099 non-null   float64
 16  Rating                   1099 non-null   float64
dtypes: float64(8), object(9)
memory usage: 146.2+ KB

## Describe

-> Untuk mendapatkan ringkasan statistik pada kolom-kolom numerik

In [25]:
data.describe()

,Unit price,Quantity,Tax 5%,Total,cogs,gross margin percentage,gross income,Rating
count,1099.000000,1099.000000,1099.000000,1099.000000,1099.000000,1099.000000,1099.000000,1099.000000
mean,56.976233,5.509554,15.452969,324.327239,308.561028,4.761905,15.447305,6.960692
std,40.937887,2.926334,11.798542,247.745976,235.532988,0.000000,11.798659,1.718103
min,-100.000000,1.000000,0.508500,10.678500,10.170000,4.761905,0.508500,4.000000
25%,31.700000,3.000000,5.894750,123.789750,117.895000,4.761905,5.894750,5.500000
50%,54.310000,5.000000,12.072000,253.512000,241.440000,4.761905,12.072000,6.900000
75%,77.940000,8.000000,22.756500,477.886500,454.605000,4.761905,22.756500,8.500000
max,500.000000,10.000000,49.650000,1042.650000,993.000000,4.761905,49.650000,10.000000

## Melihat Nilai Unik

In [26]:
data["City"].unique()

array(['Yangon', 'Naypyitaw', 'Mandalay', nan], dtype=object)

In [27]:
data["City"].nunique()

3

In [28]:
data["City"].value_counts()

Yangon       367
Naypyitaw    367
Mandalay     365
Name: City, dtype: int64

## Seleksi

-> Mendapatkan nilai suatu kolom

In [29]:
data["Total"]

0        548.9715
1         80.2200
2        340.5255
3        489.0480
4        634.3785
          ...
1095     208.6875
1096     548.7615
1097     489.0480
1098    1034.4600
1099     497.0700
Name: Total, Length: 1100, dtype: float64

In [30]:
data.loc[0:4, ["Invoice ID", "Branch"]]

    Invoice ID Branch
0  750-67-8428      A
1  226-31-3081      C
2  631-41-3108      A
3  123-19-1176      A
4  373-73-7910      A

In [31]:
data.iloc[0:5, 0:2]

    Invoice ID Branch
0  750-67-8428      A
1  226-31-3081      C
2  631-41-3108      A
3  123-19-1176      A
4  373-73-7910      A

### Seleksi Index Boolean

In [32]:
data["Total"] > 999

0       False
1       False
2       False
3       False
4       False
        ...
1095    False
1096    False
1097    False
1098     True
1099    False
Name: Total, Length: 1100, dtype: bool

In [33]:
data[data["Total"] > 999]

,Invoice ID,Branch,City,Customer type,Gender,Product line,Unit price,Quantity,Tax 5%,Total,Date,Time,Payment,cogs,gross margin percentage,gross income,Rating
166,234-65-2137,C,Naypyitaw,Normal,Male,Home and lifestyle,95.58,10.0,47.790,1003.590,1/16/2019,13:32,Cash,955.8,4.761905,47.790,4.8
167,687-47-8271,A,NaN,Normal,Male,Fashion accessories,98.98,10.0,49.490,1039.290,2/8/2019,16:20,Credit card,989.8,4.761905,49.490,8.7
350,860-79-0874,C,Naypyitaw,Member,Female,Fashion accessories,99.30,10.0,49.650,1042.650,2/15/2019,14:53,Credit card,993.0,4.761905,49.650,6.6
357,554-42-2417,C,Naypyitaw,Normal,Female,Sports and travel,95.44,10.0,47.720,1002.120,1/9/2019,13:45,Cash,954.4,4.761905,47.720,5.2
422,271-88-8734,C,Naypyitaw,Member,Female,Fashion accessories,97.21,10.0,48.605,1020.705,2/8/2019,13:00,Credit card,972.1,4.761905,48.605,8.7
557,283-26-5248,C,Naypyitaw,Member,Female,Food and beverages,98.52,10.0,49.260,1034.460,1/30/2019,20:23,Ewallet,985.2,4.761905,49.260,4.5
699,751-41-9720,C,Naypyitaw,Normal,Male,Home and lifestyle,97.50,10.0,48.750,1023.750,1/12/2019,16:18,Ewallet,975.0,4.761905,48.750,8.0
792,744-16-7898,B,Mandalay,Normal,Female,Home and lifestyle,97.37,10.0,48.685,1022.385,1/15/2019,13:48,Credit card,973.7,4.761905,48.685,4.9
996,303-96-2227,B,Mandalay,Normal,Female,Home and lifestyle,97.38,10.0,48.690,1022.490,3/2/2019,17:16,Ewallet,973.8,4.761905,48.690,4.4
1019,271-88-8734,C,Naypyitaw,Member,Female,Fashion accessories,97.21,10.0,48.605,1020.705,2/8/2019,13:00,Credit card,972.1,4.761905,48.605,8.7
1030,283-26-5248,C,Naypyitaw,Member,Female,Food and beverages,98.52,10.0,49.260,1034.460,1/30/2019,20:23,Ewallet,985.2,4.761905,49.260,4.5
1087,283-26-5248,C,Naypyitaw,Member,Female,Food and beverages,-100.00,10.0,49.260,1034.460,1/30/2019,20:23,Ewallet,985.2,4.761905,49.260,4.5
1098,283-26-5248,C,Naypyitaw,Member,Female,Food and beverages,300.00,10.0,49.260,1034.460,1/30/2019,20:23,Ewallet,985.2,4.761905,49.260,4.5

In [34]:
data[(data["Total"] > 999) & (data["City"] == "Mandalay")]

,Invoice ID,Branch,City,Customer type,Gender,Product line,Unit price,Quantity,Tax 5%,Total,Date,Time,Payment,cogs,gross margin percentage,gross income,Rating
792,744-16-7898,B,Mandalay,Normal,Female,Home and lifestyle,97.37,10.0,48.685,1022.385,1/15/2019,13:48,Credit card,973.7,4.761905,48.685,4.9
996,303-96-2227,B,Mandalay,Normal,Female,Home and lifestyle,97.38,10.0,48.690,1022.490,3/2/2019,17:16,Ewallet,973.8,4.761905,48.690,4.4

In [35]:
data[(data["Total"] > 999) | (data["City"] == "Mandalay")]

,Invoice ID,Branch,City,Customer type,Gender,Product line,Unit price,Quantity,Tax 5%,Total,Date,Time,Payment,cogs,gross margin percentage,gross income,Rating
9,692-92-5582,B,Mandalay,Member,Female,Food and beverages,54.84,3.0,8.2260,172.7460,2/20/2019,13:27,Credit card,164.52,4.761905,8.2260,5.9
10,351-62-0822,B,Mandalay,Member,Female,Fashion accessories,14.48,4.0,2.8960,60.8160,2/6/2019,18:07,Ewallet,57.92,4.761905,2.8960,4.5
11,529-56-3974,B,Mandalay,Member,Male,Electronic accessories,25.51,4.0,5.1020,107.1420,3/9/2019,17:03,Cash,102.04,4.761905,5.1020,6.8
15,299-46-1805,B,Mandalay,Member,Female,Sports and travel,93.72,6.0,28.1160,590.4360,1/15/2019,16:19,Cash,562.32,4.761905,28.1160,4.5
19,319-50-3348,B,Mandalay,Normal,Female,Home and lifestyle,40.30,2.0,4.0300,84.6300,3/11/2019,15:30,Ewallet,80.60,4.761905,4.0300,4.4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1087,283-26-5248,C,Naypyitaw,Member,Female,Food and beverages,-100.00,10.0,49.2600,1034.4600,1/30/2019,20:23,Ewallet,985.20,4.761905,49.2600,4.5
1092,268-27-6179,B,Mandalay,Member,Female,Fashion accessories,0.75,8.0,22.5880,474.3480,3/9/2019,14:57,Ewallet,451.76,4.761905,22.5880,7.3
1094,151-33-7434,B,Mandalay,Normal,Female,Food and beverages,-1.00,1.0,3.3885,71.1585,2/4/2019,20:43,Credit card,67.77,4.761905,3.3885,6.5
1095,831-64-0259,B,Mandalay,Normal,Female,Fashion accessories,500.00,5.0,9.9375,208.6875,2/22/2019,10:43,Ewallet,198.75,4.761905,9.9375,9.6
1098,283-26-5248,C,Naypyitaw,Member,Female,Food and beverages,300.00,10.0,49.2600,1034.4600,1/30/2019,20:23,Ewallet,985.20,4.761905,49.2600,4.5

## Identifikasi Nilai Kosong

In [36]:
data.isna().sum()

Invoice ID                 0
Branch                     1
City                       1
Customer type              1
Gender                     1
Product line               1
Unit price                 1
Quantity                   1
Tax 5%                     1
Total                      1
Date                       1
Time                       1
Payment                    1
cogs                       1
gross margin percentage    1
gross income               1
Rating                     1
dtype: int64

## Identifikasi Nilai Duplikat

In [37]:
data.duplicated().sum()

49

# Terima kasih ðŸ™