<div style="text-align: center;">
    <img src="https://bccfilkom.net/static/assets/images/BCC-Logo.svg" alt="BCC Logo">
    <p style="font-size: 34px; font-weight: bold;">Prerequisite Mini Bootcamp Data Science</p>
    <p style="font-size: 28px; font-weight: normal;">BCC 2023</p>
</div>

# **Python** Dasar ðŸ

![](https://s3.dualstack.us-east-2.amazonaws.com/pythondotorg-assets/media/community/logos/python-logo-only.png)

## Apa itu Bahasa Python?

Python merupakan bahasa pemrograman yang sering dipakai untuk beragam tujuan, seperti pengembangan web, analisis data, dan scripting. Python memiliki berbagai library yang mendukung kebutuhan pengembang dalam berbagai proyek, terutama dibidang data science.

## Variabel

Tempat untuk menyimpan suatu nilai dengan tipe data tertentu.

In [187]:
var_integer = 12
var_float = 12.2
var_boolean = True
var_string = "Hello World"


print(var_integer, "-> tipe data: ", type(var_integer))
print(var_float, " -> tipe data: ", type(var_float))
print(var_boolean, " -> tipe data: ", type(var_boolean))
print(var_string, " -> tipe data: ", type(var_string))

12 -> tipe data:  <class 'int'>
12.2  -> tipe data:  <class 'float'>
True  -> tipe data:  <class 'bool'>
Hello World  -> tipe data:  <class 'str'>

### Casting Tipe Data

In [188]:
# Merubah tipe data float menjadi int
f: float = 10.5
i: int = int(f)
print("Casting float ke int: ", i)

# Merubah tipe data string menjadi int
s: str = "10"
i = int(s)
print("Casting string ke int: ", i + 1)

Casting float ke int:  10
Casting string ke int:  11

## String Formatting

In [106]:
age = 20
name = "Evan Laksana Wira Pratama"

print(f"Umur saya {age}")
print("Nama saya {}, umur saya {}".format(age, name))
print("Halo nama saya", name, "dan umur saya", age)
print("Halo kenalin aku " + name)

Umur saya 20
Nama saya 20, umur saya Evan Laksana Wira Pratama
Halo nama saya Evan Laksana Wira Pratama dan umur saya 20
Halo kenalin aku Evan Laksana Wira Pratama

## Operator & Operasi Aritmatika

In [101]:
bilangan_1 = 21
bilangan_2 = 5

print(f"Tambah : {bilangan_1 + bilangan_2}")
print(f"Kurang : {bilangan_1 - bilangan_2}")
print(f"Kali : {bilangan_1 * bilangan_2}")
print(f"Bagi : {bilangan_1 / bilangan_2}")
print(f"Pangkat : {bilangan_1 ** bilangan_2}")
print(f"Mod : {bilangan_1 % bilangan_2}")
print(f"Div : {bilangan_1 // bilangan_2}")

Tambah : 26
Kurang : 16
Kali : 105
Bagi : 4.2
Pangkat : 4084101
Mod : 1
Div : 4

## Operator & Operasi Boolean

In [191]:
print(True and True)
print(True and False)
print(True or False)
print(False or False)
print(not True)
print(1 == 1)
print(1 != 2)

print(bool(1))
print(bool(0))

print(bool("Evan"))
print(bool(""))

True
False
True
False
False
True
True
True
False
True
False

## Control Flow

Jika begini (True/False), maka begitu.

In [192]:
ip: float = float(input("ip: "))

if ip == 4.0:
    print("Jenius bro")
elif ip >= 3.5 and ip < 4.0:
    print("Membanggakan")
elif ip >= 3.0 and ip < 3.5:
    print("Cukup Membanggakan")
else:
    print("Yang penting lulus")

Yang penting lulus

## Data Structure

menyimpan nilai lebih banyak dan kompleks

1. **List []**: Menyimpan banyak nilai, tipe data yang berbeda-beda, mutable
2. **Tuple ()**: Seperti list namun immutable
3. **Set {}**: Seperti list namun tidak bersifat unik tidak mengandung duplicate
4. **Dictionary {key:value}**: Pasangan key-value

In [158]:
# List

list_elemen = [1, 1, 2.0, 3, "Hello", True]
print(f"All list : {list_elemen}")
list_elemen[2] = "diganti"
print(f"All list : {list_elemen}")
print(f"Ambil elemen pertama list : {list_elemen[0]}")

All list : [1, 1, 2.0, 3, 'Hello', True]
All list : [1, 1, 'diganti', 3, 'Hello', True]
Ambil elemen pertama list : 1

In [136]:
# Tuple
print("Tuple:\n")

tuple_elemen = (1, 1, 2.0, 3, "Hello", True)
print(f"All tuple : {tuple_elemen}")
print(f"Ambil elemen ke 5 tuple : {tuple_elemen[4]}")

# tuple_elemen[2] = "diganti" # error

Tuple:

All tuple : (1, 1, 2.0, 3, 'Hello', True)
Ambil elemen ke 5 tuple : Hello

In [137]:
# Set
print("Set:\n")

set_elemen = {1, 2.0, 3, "Hello", 1, 1, 2}
print(set_elemen)

Set:

{1, 2.0, 3, 'Hello'}

In [138]:
# Dictionary
print("Dictionary:\n")

dictionary_elemen = {"nama": "Evan", "semester": 5, "gender": "laki-laki"}
print(f"Isi dict : {dictionary_elemen}")
print(
    f"Mengambil elemen dengan key 'semester' : {dictionary_elemen['semester']}")

dictionary_elemen["semester"] = 4
print(f"Isi dict setelah value 'semester' diubah : {dictionary_elemen}")

keys = dictionary_elemen.keys()
values = dictionary_elemen.values()

print("Mengambil semua key: ", keys)
print("Mengambil semua values:", values)

Dictionary:

Isi dict : {'nama': 'Evan', 'semester': 5, 'gender': 'laki-laki'}
Mengambil elemen dengan key 'semester' : 5
Isi dict setelah value 'semester' diubah : {'nama': 'Evan', 'semester': 4, 'gender': 'laki-laki'}
Mengambil semua key:  dict_keys(['nama', 'semester', 'gender'])
Mengambil semua values: dict_values(['Evan', 4, 'laki-laki'])

## Iteration

**For loop** digunakan untuk melakukan iterasi setiap elemen pada barisan data.

**For loop enumerate** digunakan untuk melakukan iterasi setiap index dan elemen pada barisan data.

**While loop** digunakan untuk melakukan iterasi selama kondisi terpenuhi.

In [139]:
# For loop Menggunakan Range

print("For loop menggunakan range: \n")

for i in range(10, 1, -1):
    print(i)

For loop menggunakan range:

10
9
8
7
6
5
4
3
2

In [140]:
# For Each Element Loop
print("For Each: \n")

loop_element = ["elemen_1", "elemen_2", "elemen_3", "elemen_4"]
for val in loop_element:
    print(val)

For Each:

elemen_1
elemen_2
elemen_3
elemen_4

In [141]:
# For Loop Enumerate
print("For Loop Enumerate: \n")

for index, element in enumerate(loop_element):
    print(element, "pada index ke-", index)

For Loop Enumerate:

elemen_1 pada index ke- 0
elemen_2 pada index ke- 1
elemen_3 pada index ke- 2
elemen_4 pada index ke- 3

In [200]:
# While Loop Enumerate
print("While Loop: \n")

status = True
random_var = 5

while status:
    if random_var == 0:
        status = False

    print(random_var)
    random_var -= 1

While Loop:

5
4
3
2
1
0

## Function


Blok kode yang dapat dipanggil dimana dan kapan saja, dapat menerima **argumen** atau tidak dan dapat **mengembalikan nilai** atau tidak.

In [153]:
# Tanpa return

def cek_kriteria(nama, umur):
    print(f"Selamat datang {nama}!")

    if umur >= 17:
        print("Silahkan masuk")
    else:
        print("Anda harus setidaknya berumur 17 untuk masuk!")

cek_kriteria("biyu", 20)

Selamat datang biyu!
Silahkan masuk

In [155]:
# Dengan return

def eksponen(x, pangkat = 1):
    return x**2


eksponen(100)

10000

## Comprehension

Mempersingkat **syntax** untuk mengisi suatu data

In [203]:
# Tanpa Comprehension

subjects = ["kalkulus", "aljabar linear", "pemrograman dasar", "statistika"]
subjects_with_k = []


# Mengambil mata_kuliah yang mengandung huruf k
for subject in subjects:
    if "k" in subject:
        subjects_with_k.append(subject)

print(subjects_with_k)

['kalkulus', 'statistika']

In [204]:
# Menggunakan Comprehension

subjects_with_k_comprehension = [
    subject for subject in subjects if "k" in subject]
print(subjects_with_k_comprehension)

['kalkulus', 'statistika']

## Lambda Function

Fungsi tanpa nama yang didefinisikan dalam satu baris

**lambda arg1, argN : expression/statement**

In [156]:
# Tanpa Lambda Function

def add(a, b):
    result = a + b
    return result

add(1, 3)

4

In [157]:
# Menggunakan Lambda Function

add_lambda = lambda x, y: x + y

add_lambda(1, 3)

4

# Pandas

![](https://upload.wikimedia.org/wikipedia/commons/thumb/e/ed/Pandas_logo.svg/1280px-Pandas_logo.svg.png)

## Pengenalan Pandas

Pandas adalah sebuah library Python yang digunakan untuk manipulasi dan analisis data. Pandas menyediakan struktur data yang fleksibel dan kaya akan fitur untuk mengolah data tabular, seperti data yang ada pada file CSV atau spreadsheet. Library ini sangat berguna untuk mempersiapkan data untuk analisis dan pemodelan statistik. Pandas juga memiliki banyak fungsi untuk melakukan operasi matematika dan statistik.

## Import Pandas

In [207]:
import pandas as pd

## Dataframe

Struktur data pada pandas dengan bentuk tabel.

In [208]:
data = pd.read_csv(
    "https://raw.githubusercontent.com/SulthanAbiyyu/mini-bootcamp-bcc-2023/master/Supermarket_Sales.csv")

## Head

Mendapatkan baris n teratas pada data, default n = 5

In [209]:
data.head()

,Invoice ID,Branch,City,Customer type,Gender,Product line,Unit price,Quantity,Tax 5%,Total,Date,Time,Payment,Rating
0,750-67-8428,A,Yangon,Member,Female,Health and beauty,74.69,7.0,26.1415,548.9715,1/5/2019,13:08,Ewallet,9.1
1,226-31-3081,C,Naypyitaw,Normal,Female,Electronic accessories,15.28,5.0,3.8200,80.2200,3/8/2019,10:29,Cash,9.6
2,631-41-3108,A,Yangon,Normal,Male,Home and lifestyle,46.33,7.0,16.2155,340.5255,3/3/2019,13:23,Credit card,7.4
3,123-19-1176,A,Yangon,Member,Male,Health and beauty,58.22,8.0,23.2880,489.0480,1/27/2019,20:33,Ewallet,8.4
4,373-73-7910,A,Yangon,Normal,Male,Sports and travel,86.31,7.0,30.2085,634.3785,2/8/2019,10:37,Ewallet,5.3

## Tail

Mendapatkan baris n terbawah pada data, default n = 5

In [210]:
data.tail()

,Invoice ID,Branch,City,Customer type,Gender,Product line,Unit price,Quantity,Tax 5%,Total,Date,Time,Payment,Rating
1095,831-64-0259,B,Mandalay,Normal,Female,Fashion accessories,500.0,5.0,9.9375,208.6875,2/22/2019,10:43,Ewallet,9.6
1096,645-44-1170,A,Yangon,Member,Male,Home and lifestyle,300.0,9.0,26.1315,548.7615,1/19/2019,20:07,Ewallet,4.3
1097,123-19-1176,A,Yangon,Member,Male,Health and beauty,2.0,8.0,23.2880,489.0480,1/27/2019,20:33,Ewallet,8.4
1098,283-26-5248,C,Naypyitaw,Member,Female,Food and beverages,300.0,10.0,49.2600,1034.4600,1/30/2019,20:23,Ewallet,4.5
1099,372-62-5264,C,Naypyitaw,Normal,Female,Food and beverages,2.0,9.0,23.6700,497.0700,1/16/2019,14:42,Cash,7.6

## Shape

Mengembalikan sebuah _tuple_ yang berisi $(n, m)$

$n$ = Jumlah baris pada data

$m$ = Jumlah kolom pada data

In [211]:
data.shape

(1100, 14)

## Info

Mendapatkan informasi detail dari setiap **kolom** pada data

In [212]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1100 entries, 0 to 1099
Data columns (total 14 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Invoice ID     1100 non-null   object
 1   Branch         1099 non-null   object
 2   City           1099 non-null   object
 3   Customer type  1099 non-null   object
 4   Gender         1099 non-null   object
 5   Product line   1099 non-null   object
 6   Unit price     1099 non-null   float64
 7   Quantity       1099 non-null   float64
 8   Tax 5%         1099 non-null   float64
 9   Total          1099 non-null   float64
 10  Date           1099 non-null   object
 11  Time           1099 non-null   object
 12  Payment        1099 non-null   object
 13  Rating         1099 non-null   float64
dtypes: float64(5), object(9)
memory usage: 120.4+ KB

## Describe

Mendapatkan ringkasan statistik pada kolom-kolom **numerik**

1. count = Jumlah baris
2. mean = Rata-rata nilai
3. std = Standar Deviasi
4. min = Nilai paling kecil
5. 25% = Presentil bawah
6. 50% = Median
7. 75% = Presentil atas
8. max = Nilai paling besar

In [213]:
data.describe()

        Unit price     Quantity       Tax 5%        Total       Rating
count  1099.000000  1099.000000  1099.000000  1099.000000  1099.000000
mean     56.976233     5.509554    15.452969   324.327239     6.960692
std      40.937887     2.926334    11.798542   247.745976     1.718103
min    -100.000000     1.000000     0.508500    10.678500     4.000000
25%      31.700000     3.000000     5.894750   123.789750     5.500000
50%      54.310000     5.000000    12.072000   253.512000     6.900000
75%      77.940000     8.000000    22.756500   477.886500     8.500000
max     500.000000    10.000000    49.650000  1042.650000    10.000000

## Melihat Nilai Unik

In [214]:
data["City"].unique()

array(['Yangon', 'Naypyitaw', 'Mandalay', nan], dtype=object)

## Melihat Jumlah Nilai Unik

In [215]:
data["City"].nunique()

3

## Melihat Jumlah Data untuk Setiap Nilai Unik

In [216]:
data["City"].value_counts()

Yangon       367
Naypyitaw    367
Mandalay     365
Name: City, dtype: int64

## Seleksi

Mendapatkan nilai pada baris atau kolom tertentu

### Seleksi menggunakan [ ]

Indexing paling sederhana untuk mengambil data pada suatu kolom namun tidak bisa mengambil pada baris tertentu.

**data[columns_name]**

In [116]:
# Mengambil semua data pada sebuah kolom tertentu dalam bentuk DataFrame
data[["Total"]]

          Total
0      548.9715
1       80.2200
2      340.5255
3      489.0480
4      634.3785
...         ...
1095   208.6875
1096   548.7615
1097   489.0480
1098  1034.4600
1099   497.0700

[1100 rows x 1 columns]

In [117]:
# Mengambil semua data pada sebuah kolom tertentu dalam bentuk Series
data["Total"]

0        548.9715
1         80.2200
2        340.5255
3        489.0480
4        634.3785
          ...
1095     208.6875
1096     548.7615
1097     489.0480
1098    1034.4600
1099     497.0700
Name: Total, Length: 1100, dtype: float64

In [119]:
# Mengambil semua data pada kolom tertentu
data[["Total", "Branch", "City"]]

          Total Branch       City
0      548.9715      A     Yangon
1       80.2200      C  Naypyitaw
2      340.5255      A     Yangon
3      489.0480      A     Yangon
4      634.3785      A     Yangon
...         ...    ...        ...
1095   208.6875      B   Mandalay
1096   548.7615      A     Yangon
1097   489.0480      A     Yangon
1098  1034.4600      C  Naypyitaw
1099   497.0700      C  Naypyitaw

[1100 rows x 3 columns]

### Seleksi Menggunakan loc

Indexing menggunakan **label/nama** baris dan kolom

**data.loc[row_label, column_label]**

In [220]:
# Mengambil baris index 0 hingga 5 pada semua kolom
data.loc[0:5,]

,Invoice ID,Branch,City,Customer type,Gender,Product line,Unit price,Quantity,Tax 5%,Total,Date,Time,Payment,Rating
0,750-67-8428,A,Yangon,Member,Female,Health and beauty,74.69,7.0,26.1415,548.9715,1/5/2019,13:08,Ewallet,9.1
1,226-31-3081,C,Naypyitaw,Normal,Female,Electronic accessories,15.28,5.0,3.8200,80.2200,3/8/2019,10:29,Cash,9.6
2,631-41-3108,A,Yangon,Normal,Male,Home and lifestyle,46.33,7.0,16.2155,340.5255,3/3/2019,13:23,Credit card,7.4
3,123-19-1176,A,Yangon,Member,Male,Health and beauty,58.22,8.0,23.2880,489.0480,1/27/2019,20:33,Ewallet,8.4
4,373-73-7910,A,Yangon,Normal,Male,Sports and travel,86.31,7.0,30.2085,634.3785,2/8/2019,10:37,Ewallet,5.3
5,699-14-3026,C,Naypyitaw,Normal,Male,Electronic accessories,85.39,7.0,29.8865,627.6165,3/25/2019,18:30,Ewallet,4.1

In [221]:
# Mengambil semua baris pada kolom tertentu
data.loc[:, ["Invoice ID", "Branch"]]

       Invoice ID Branch
0     750-67-8428      A
1     226-31-3081      C
2     631-41-3108      A
3     123-19-1176      A
4     373-73-7910      A
...           ...    ...
1095  831-64-0259      B
1096  645-44-1170      A
1097  123-19-1176      A
1098  283-26-5248      C
1099  372-62-5264      C

[1100 rows x 2 columns]

In [222]:
# Mengambil range index baris ternetu pada kolom tertentu menggunakan list
data.loc[0:5, ["Invoice ID", "Branch"]]

    Invoice ID Branch
0  750-67-8428      A
1  226-31-3081      C
2  631-41-3108      A
3  123-19-1176      A
4  373-73-7910      A
5  699-14-3026      C

In [223]:
# Mengambil range index baris ternetu pada range kolom tertentu
data.loc[0:5, "Invoice ID":"Gender"]

    Invoice ID Branch       City Customer type  Gender
0  750-67-8428      A     Yangon        Member  Female
1  226-31-3081      C  Naypyitaw        Normal  Female
2  631-41-3108      A     Yangon        Normal    Male
3  123-19-1176      A     Yangon        Member    Male
4  373-73-7910      A     Yangon        Normal    Male
5  699-14-3026      C  Naypyitaw        Normal    Male

In [224]:
# Mengambil baris index tertentu dan pada kolom tertentu menggunakan list
data.loc[[1, 5, 6, 7], ['Branch', 'Gender']]

  Branch  Gender
1      C  Female
5      C    Male
6      A  Female
7      C  Female

### Seleksi Menggunakan iloc

Indexing menggunakan **index integer**, cara penggunaan mirip dengan loc namun menggunakan index integer

**data.iloc[row_index, column_index]**

In [225]:
# Mengambil range baris tertentu pada range kolom tertentu
data.iloc[1:5, 0:5]

    Invoice ID Branch       City Customer type  Gender
1  226-31-3081      C  Naypyitaw        Normal  Female
2  631-41-3108      A     Yangon        Normal    Male
3  123-19-1176      A     Yangon        Member    Male
4  373-73-7910      A     Yangon        Normal    Male

In [226]:
# Mengambil semua baris pada kolom tertentu
data.iloc[:, [0, 5]]

       Invoice ID            Product line
0     750-67-8428       Health and beauty
1     226-31-3081  Electronic accessories
2     631-41-3108      Home and lifestyle
3     123-19-1176       Health and beauty
4     373-73-7910       Sports and travel
...           ...                     ...
1095  831-64-0259     Fashion accessories
1096  645-44-1170      Home and lifestyle
1097  123-19-1176       Health and beauty
1098  283-26-5248      Food and beverages
1099  372-62-5264      Food and beverages

[1100 rows x 2 columns]

### Seleksi Index Boolean

.loc dan [ ] dapat digunakan sebagai **Boolean Indexing**

In [227]:
# Mengembalikan hasil operasi boolean dalam bentuk struktur data 1 dimensi
data["Total"] > 999

0       False
1       False
2       False
3       False
4       False
        ...
1095    False
1096    False
1097    False
1098     True
1099    False
Name: Total, Length: 1100, dtype: bool

In [228]:
# Mengembalikan baris data yang bernilai True atau memenuhi kondisi kolom total > 999
data[data["Total"] > 999]

,Invoice ID,Branch,City,Customer type,Gender,Product line,Unit price,Quantity,Tax 5%,Total,Date,Time,Payment,Rating
166,234-65-2137,C,Naypyitaw,Normal,Male,Home and lifestyle,95.58,10.0,47.790,1003.590,1/16/2019,13:32,Cash,4.8
167,687-47-8271,A,NaN,Normal,Male,Fashion accessories,98.98,10.0,49.490,1039.290,2/8/2019,16:20,Credit card,8.7
350,860-79-0874,C,Naypyitaw,Member,Female,Fashion accessories,99.30,10.0,49.650,1042.650,2/15/2019,14:53,Credit card,6.6
357,554-42-2417,C,Naypyitaw,Normal,Female,Sports and travel,95.44,10.0,47.720,1002.120,1/9/2019,13:45,Cash,5.2
422,271-88-8734,C,Naypyitaw,Member,Female,Fashion accessories,97.21,10.0,48.605,1020.705,2/8/2019,13:00,Credit card,8.7
557,283-26-5248,C,Naypyitaw,Member,Female,Food and beverages,98.52,10.0,49.260,1034.460,1/30/2019,20:23,Ewallet,4.5
699,751-41-9720,C,Naypyitaw,Normal,Male,Home and lifestyle,97.50,10.0,48.750,1023.750,1/12/2019,16:18,Ewallet,8.0
792,744-16-7898,B,Mandalay,Normal,Female,Home and lifestyle,97.37,10.0,48.685,1022.385,1/15/2019,13:48,Credit card,4.9
996,303-96-2227,B,Mandalay,Normal,Female,Home and lifestyle,97.38,10.0,48.690,1022.490,3/2/2019,17:16,Ewallet,4.4
1019,271-88-8734,C,Naypyitaw,Member,Female,Fashion accessories,97.21,10.0,48.605,1020.705,2/8/2019,13:00,Credit card,8.7
1030,283-26-5248,C,Naypyitaw,Member,Female,Food and beverages,98.52,10.0,49.260,1034.460,1/30/2019,20:23,Ewallet,4.5
1087,283-26-5248,C,Naypyitaw,Member,Female,Food and beverages,-100.00,10.0,49.260,1034.460,1/30/2019,20:23,Ewallet,4.5
1098,283-26-5248,C,Naypyitaw,Member,Female,Food and beverages,300.00,10.0,49.260,1034.460,1/30/2019,20:23,Ewallet,4.5

In [229]:
# Menampilkan baris data dengan total > 999 dan city == mandalay

data[(data["Total"] > 999) & (data["City"] == "Mandalay")]

,Invoice ID,Branch,City,Customer type,Gender,Product line,Unit price,Quantity,Tax 5%,Total,Date,Time,Payment,Rating
792,744-16-7898,B,Mandalay,Normal,Female,Home and lifestyle,97.37,10.0,48.685,1022.385,1/15/2019,13:48,Credit card,4.9
996,303-96-2227,B,Mandalay,Normal,Female,Home and lifestyle,97.38,10.0,48.690,1022.490,3/2/2019,17:16,Ewallet,4.4

In [230]:
# Menampilkan baris data dengan total > 999 atau city == mandalay

data[(data["Total"] > 999) | (data["City"] == "Mandalay")]

,Invoice ID,Branch,City,Customer type,Gender,Product line,Unit price,Quantity,Tax 5%,Total,Date,Time,Payment,Rating
9,692-92-5582,B,Mandalay,Member,Female,Food and beverages,54.84,3.0,8.2260,172.7460,2/20/2019,13:27,Credit card,5.9
10,351-62-0822,B,Mandalay,Member,Female,Fashion accessories,14.48,4.0,2.8960,60.8160,2/6/2019,18:07,Ewallet,4.5
11,529-56-3974,B,Mandalay,Member,Male,Electronic accessories,25.51,4.0,5.1020,107.1420,3/9/2019,17:03,Cash,6.8
15,299-46-1805,B,Mandalay,Member,Female,Sports and travel,93.72,6.0,28.1160,590.4360,1/15/2019,16:19,Cash,4.5
19,319-50-3348,B,Mandalay,Normal,Female,Home and lifestyle,40.30,2.0,4.0300,84.6300,3/11/2019,15:30,Ewallet,4.4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1087,283-26-5248,C,Naypyitaw,Member,Female,Food and beverages,-100.00,10.0,49.2600,1034.4600,1/30/2019,20:23,Ewallet,4.5
1092,268-27-6179,B,Mandalay,Member,Female,Fashion accessories,0.75,8.0,22.5880,474.3480,3/9/2019,14:57,Ewallet,7.3
1094,151-33-7434,B,Mandalay,Normal,Female,Food and beverages,-1.00,1.0,3.3885,71.1585,2/4/2019,20:43,Credit card,6.5
1095,831-64-0259,B,Mandalay,Normal,Female,Fashion accessories,500.00,5.0,9.9375,208.6875,2/22/2019,10:43,Ewallet,9.6
1098,283-26-5248,C,Naypyitaw,Member,Female,Food and beverages,300.00,10.0,49.2600,1034.4600,1/30/2019,20:23,Ewallet,4.5

## Identifikasi Nilai Kosong

**isna()** Akan mengembalikan **True** jika sel bernilai **null/Nan**

In [235]:
data.isna()

,Invoice ID,Branch,City,Customer type,Gender,Product line,Unit price,Quantity,Tax 5%,Total,Date,Time,Payment,Rating
0,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1095,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1096,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1097,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1098,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1099,False,False,False,False,False,False,False,False,False,False,False,False,False,False

In [237]:
# sum() akan menampilkan banyak null tiap kolom
null_per_col = data.isna().sum()
null_per_col

Invoice ID       0
Branch           1
City             1
Customer type    1
Gender           1
Product line     1
Unit price       1
Quantity         1
Tax 5%           1
Total            1
Date             1
Time             1
Payment          1
Rating           1
dtype: int64

## Identifikasi Nilai Duplikat

**duplicated()** mengembalikan **True** jika baris terduplikasi

In [240]:
data.duplicated().sum()

49

# QnA ðŸ™